.addincome-1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
}
.addupdate-1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.card-1{
    width: 1000px;
    max-width: 100%;
}
/* .IncomeCategory{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.04em;
color: rgba(0, 0, 0, 0.4);
} */

.btn-1{
    display: flex;
    width: 100%;
    justify-content: center;
}