.search001 {
  height: 35px;
  background: rgba(217, 217, 217, 0.3);
  /* border: 1px solid rgba(49, 29, 29, 0.6); */
  /* border-radius: 8px; */
  width: 200px;
  border: none;
  outline: none;
  background-color: transparent;
}
.filter1 {
  width: 200px;
  height: 50px;
  background: #ffffff;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 20px;
border: none;
/* text-align: left; */
  justify-content: space-between;

}
.one {
  display: flex;
  justify-content: space-between;
}
/* .searchbar0 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 5px;
  height: 50px;
} */
.searchicon{
  left: 80px;
}
.line2 {
  border-bottom: 2px solid black;
}
.pagination-2 {
  /* margin-left: 1200px; */
  margin-top: 10px;
  padding: 20px;
}
.previousbtn {
  text-decoration: none;
  border: 1px solid black;
  background: white;
}
.nextbtn {
    text-decoration: none;
    border: 1px solid black;
    background: white;
  }
