.filter0{
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
.s1{
    border: 1px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 5px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.main001{
    display: flex;
    justify-content: space-between;
}
.pagination-1{
    margin-left: 900px;
    margin-top: 10px;
}
.line{
    border-bottom: 2px solid black;
}