.collapse{
    display: block;
}
.Logo{
    position: absolute;
width: 210px;
height: 57px;
left: 7px;
top: 7px;

}
.sidebar-links{
    text-decoration: none;
    color:black;
}
.link{
    text-decoration: none;
    color: black;
}